body {
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none;
}

#box-container {
  display: flex;
  flex-direction: column;
}

.slidecontainer {
  width: 100%;
}
.slidecontainer h1:after {
  content:'';
  display: block;
  width:35px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.212);
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(30, 5, 143);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .button {
    font-size: .9rem;
    padding: 10px 15px;
    width: 45%;
    height: 40px;
  }

  #buttons {
    text-align: center;
  }

  .buttons__clear-and-stop {
    display:flex;
  }

  .clearButton, .stopButton {
    width:50%;
  }
}

.greenButton {background-color: #4CAF50;} /* Green */
.blueButton {background-color: #008CBA;} /* Blue */
.yellowButton {background-color: #b9a614;} /* Yellow */
.pinkButton {background-color: #b9147a;} /* Pink */
.blackButton {background-color: #555555;} /* Black */
.grayButton {background-color: #e7e7e7; color: black;} /* Gray */
.redButton {background-color: #f44336;} /* Red */
.purpleButton {background-color: #990099;} /* Purple */

#divCanvas {
    display: flex;
    background:#eeeeee;
    margin-top:40px;
}

#TheCanvas {
  max-width: 100%;
}